<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="csvPath" value="dataset\AirPi Data - AirPi.csv"/>
		<add key="rejectLogPath" value="rejects.log"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="netTcpConfig"
						 maxReceivedMessageSize="2147483647"
						 sendTimeout="00:10:00"
						 receiveTimeout="00:10:00"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00"
						 transferMode="Buffered">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="2147483647"
								  maxArrayLength="2147483647"
								  maxBytesPerRead="2147483647" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="KancelarijskiSenzorService"
					  address="net.tcp://localhost:4100/KancelarijskiSenzorService"
					  binding="netTcpBinding"
					  bindingConfiguration="netTcpConfig"
					  contract="Common.IKancelarijskiSenzorService" />
		</client>
	</system.serviceModel>
</configuration>